@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900');
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,900");
:root{
    --light-blue: #e3ebf6;
    --gray: #95aac9;
    --gray-dark: #3b506c;
    --gray-blue: #959bb6;
    --background-color: #eceff1;
    --primary-color: 106, 27, 154;
    --accent-color: 213, 0, 249;
    --accent-color-2: 170, 0, 255;
    --primary-color-light: #d2bae1;
    --gray-light-hover: #eeeeee;
    --red: 244, 67, 5;
    --dark: 36, 41, 57;
    --label_color: 38, 50, 56;
    --dark-accent: 57, 63, 76;
}
html{font-size: 13pt; -webkit-tap-highlight-color:transparent;}
body, input, select, textarea { color: #424242; }
body{ font-family: 'Nunito', sans-serif; overflow: hidden; padding: 0; margin: 0; background-color: var(--background-color); font-weight: 300;
line-height: 1.75em}
nav#mobile{display: none;}
a.btn{font-family: 'Nunito', sans-serif !important; font-weight: 700 !important;}
i{margin: 0 0.5em 0 0;}
* {box-sizing: border-box !important;}

h1{width:100%; height: fit-content; text-align: center; padding: 0; margin:  0 0 0.5em 0; font-size: 1.7rem; font-weight: 700;}

/* Header */
header{width: calc(100% - 80px); height: 70px; position: absolute; top: 0; left: 80px; display: flex; background: white;}
header .header__wrapper{width: 100%; height: 100%; display: flex; align-self: stretch;}
header .header__wrapper .left{padding: 0.5em;}
header .header__wrapper .left .menu-collapse{width: 48px; height: 48px; align-items: center; justify-content: center; transition: ease .3s; -webkit-transition: ease .3s;
cursor: pointer; display: none;}
header .header__wrapper div.active{background: rgba(var(--primary-color), 0.3); color: white;}
header .header__wrapper .left .menu-collapse:hover{background: rgb(rgb(var(--primary-color)));}
header .header__wrapper .left .menu-collapse:hover > i {color: white;}
header .header__wrapper .left .menu-collapse > i{margin: 0;}
header .header__wrapper .right{flex-grow: 1; height: 100%; display: flex; padding: 0.5em; flex-direction: row-reverse;}
header .header__wrapper .right > div {padding:0.25em 0.5em 0.25em 0.5em;}
header .header__wrapper .right .logged-user{width: fit-content; height: 100%; display: flex; align-items: center; transition: ease .3s; -webkit-transition: ease .3s; border-radius: 9999em;}
header .header__wrapper .right .logged-user:hover{background: rgb(var(--primary-color), 0.3); color: white;}
header .header__wrapper .right .logged-user .user{width: fit-content; height: fit-content; display: flex; margin: 0 0.25em 0 0;}
header .header__wrapper .right .logged-user .user > span{font-size: 0.7rem; font-weight: 700;}
header .header__wrapper .right .logged-user .profile-pic{ width: fit-content; height: 100%; padding: 0.2em;}
header .header__wrapper .right .logged-user .profile-pic > img{ width: auto; height: 100%;}

header .header__wrapper .right .header__badges{width:fit-content; height: 100%; display: flex; align-items: center; }
header .header__wrapper .right .header__badges .badge-item{width: 48px; height: 48px; display: flex; align-items: center; justify-content: center;
cursor: pointer; transition: ease .3s; -webkit-transition: ease .3s; position: relative; margin: 0 0 0 0.5em;}
header .header__wrapper .right .header__badges .badge-item:first-of-type{margin: 0;}
header .header__wrapper .right .header__badges .badge-item > i{margin: 0;}
header .header__wrapper .right .header__badges .badge-item:hover{background: rgba(var(--primary-color), 0.3);}
header .header__wrapper .right .header__badges .badge-item:hover > i{color: white;}
header .header__wrapper .right .header__badges .badge-item .highlight-badge{display: flex; position: absolute; top: 5px; align-items: center; -webkit-box-align: center;}
header .header__wrapper .right .header__badges .badge-item .highlight-badge::before{display: block;width: 4px; height: 4px; transition: ease .3s; -webkit-transition: ease .3s; border-radius: 50%;
content: " ";background: rgba(244, 67, 64, 0.5);}
header .header__wrapper .right .header__badges .badge-item:hover > .highlight-badge::before{background: rgba(244, 67, 64, 1);}

/* Navegação */
nav{width: 80px; height: 100vh; position: absolute; left: 0; background: rgb(var(--dark)); flex-direction: column; display: flex; align-items: center; padding: 1em 0 0 0;
z-index: 100; overflow-x: hidden; overflow-y: auto;}
/* Logo App */
.logo-app{width: 70px; height: 70px; border: 2px solid transparent; display: flex; justify-content: center; align-items: center; cursor: pointer; margin: 0 10px 0.5em 10px;
 transition: ease .5s; -webkit-transition: ease .5s; }
.logo-app > img{width: 100%;}
/* .logo-app span{font-size: 2rem; font-weight: 900; color: white; transition: ease .3s; -webkit-transition: ease .3s;}
.logo-app:hover{border: 2px solid #aa00ff; background: #e0e0e0 ;}
.logo-app:hover > span{transform: scale(1.2); -webkit-transform: scale(1.2); color: #aa00ff;} */


nav ul li .menu-separetor{width:fit-content; height: 4px; display: flex; flex-direction: row; align-items: center; justify-content: center;}
nav ul li .menu-separetor .separetor{ margin: 0 0.1em 0 0; }
nav ul li .menu-separetor .separetor::before{width: 4px; height: 4px; display: flex; border-radius: 50%;content: " ";background: #606a8c;}
nav ul li.no-hover{height: 10px; display: flex; align-items: center; justify-content: center; margin: 1em 0 1em 0; cursor: default;}
nav ul li.no-hover:hover{background: none;}

nav ul.collapisible-menu{width: 100%; list-style-type: none; display: none;}
nav ul.collapisible-menu > li{width: 100%; min-height: 45px; margin: 0 0 0.5em 0; flex-wrap:wrap; display: flex; align-items: center;  cursor: pointer; transition: all .3s; -webkit-transition: all 0.3s;}
nav ul.collapisible-menu li > div.menu-op{width: fit-content; height: 45px; display: flex; flex: 1 1 100%; align-items: center; padding: 0 15px 0 15px ; position: relative;}
nav ul.collapisible-menu li > div.menu-op > i{width:50px; margin: 0; display: flex; justify-content: center; font-size: 20px; color: #3e4763; transition: all .3s; -webkit-transition: all .3s;}
nav ul.collapisible-menu li > div.menu-op > div{flex:1 1 100%;margin: 0 0 0 0.1em; display: none; padding: 0; color: #80869a; font-size: 0.9rem;transition: all .3s; -webkit-transition: all .3s;}
nav ul li.active{background: #171b28;}
nav ul li.active div.menu-op > div{color: white;}
nav ul li.active div.menu-op > i{color: rgb(var(--accent-color));}
nav ul li.active:hover{background: #171b28;}
nav ul li:hover {background: #1f2433;}
nav ul li:hover div.menu-op > div{color: white;}
nav ul li:hover div.menu-op > i{color: rgb(var(--accent-color));}


nav ul.collapisible-menu li.full-menu div > div{height: 0; display: flex; align-items: center; flex: 1 1 0; font-weight: 700;}
nav ul.collapisible-menu li.full-menu > div.menu-op .arrow{ width: 2px; height: 2px; border: solid rgb(var(--accent-color-2)); border-width: 0 1px 1px 0; padding: 2px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}

/* collapsed items */
nav ul.collapisible-menu li > ul{width:100%; display: flex; flex-direction: column;}
nav ul.collapisible-menu li ul > li{ width: 100%; height: 45px; display: flex; align-items: center; transition: all .3s; -webkit-transition: all .3s;} 
nav ul.collapisible-menu li ul li > div{ flex: 1 1 100%; height: 0; display:flex;padding: 0 0 0 45px; font-size: 0.8rem; color: #687393; font-weight: 600; align-items: center; transition: all .3s; -webkit-transition: all .3s;}
nav ul.collapisible-menu li ul li > div::before{width: 4px; height: 4px; display: flex; content: " "; margin: 0 1em 0 0; border-radius: 50%; background: #687393;}
nav ul.collapisible-menu li ul > li:hover{background: #171b28;}
nav ul.collapisible-menu li ul li:hover > div{color: white;}
nav ul.collapisible-menu li ul li:hover > div::before{background: rgb(var(--accent-color-2));}

/* Groups */
nav ul.collapisible-menu > li.group{width: 100%; min-height: 32px !important; display: flex; align-items: center; cursor: default; padding: 0 0 0 1em;}
nav ul.collapisible-menu li.group > i {height:24px !important; font-size:12px; display: flex; align-items: center; margin: 0 0.75em 0 0; color: #80869a;} 
nav ul.collapisible-menu li.group > span{width: fit-content; height: 32px; display: flex; align-items: center; color: #80869a; font-weight: 900; letter-spacing: 0.1em; font-size: 0.7rem; text-transform: uppercase;}
nav ul.collapisible-menu li.group:hover{background: transparent;}

nav ul.nav__groups{width: 100%; display: flex; flex-direction: column; list-style-type: none;}
nav ul.nav__groups > li{width:100%; height: 40px; display: flex; align-items: center; padding: 0 15px 0 15px; margin: 0 0 0.5em 0;}
nav ul.nav__groups > li > i{width:50px; margin: 0; display: flex; justify-content: center; font-size: 20px; color: #3e4763; transition: all .3s; -webkit-transition: all .3s;}
nav ul.nav__groups > li.active > i{color: rgb(var(--accent-color));}

/* Interface */
.popup-card{max-width: 350px; width: 300px; height: fit-content; max-height: 450px; position: absolute;
display: flex; background: #fafafa; overflow: hidden; flex-direction: column; z-index:200;}
.popup-card .popup-card__header{width: 100%; height: 60px; display: flex; background: var(--primary-color-light); position: relative;}

.popup-card .popup-card__header .title__highlight{width: 100%; height: fit-content;
display: flex; justify-content: center; align-items: center; position: absolute; top: 0.5em;}
.popup-card .popup-card__header .title__highlight > span{color: white; font-weight: 700;}

.popup-card .popup-card__header .popup-card__highlight{min-width: calc(100% - 2em); max-width: calc(100% - 1em); height: 60px;
display: flex; margin: 30px auto 0 auto; align-items: center; justify-content: center;}
.popup-card .popup-card__header .popup-card__highlight .info-box__highlight{width: fit-content; height: fit-content; background: white;
padding: 0.1em 0.7em 0.1em 0.7em; display: flex; justify-content: center; align-items: center;}
.popup-card .popup-card__header .popup-card__highlight .info-box__highlight > span{font-weight: 700; font-size: 0.6rem; display: flex; align-items: center; justify-content: center;}
.popup-card .popup-card__header .popup-card__highlight .info-box__highlight > span b{color:rgb(var(--red)); font-weight: 900; font-size: 0.8rem;}
.popup-card .popup-card__header .popup-card__highlight .right{flex: 1 1 100%;}
.popup-card .popup-card__header .popup-card__highlight .right div{height: 30px; padding: 0 0 0 0.5em; font-size: 0.7rem; font-weight: 700; display: flex;}
.popup-card .popup-card__header .popup-card__highlight .right div:first-of-type{color: white; font-size: 0.8rem; align-items: center;}
.popup-card .popup-card__body{width: 100%; height: fit-content; padding: 30px 0 0 0;}
.popup-card .popup-card__body > ul{width: 100%;}
.popup-card .popup-card__body > ul li { display: flex; align-items: center; cursor: pointer; padding: 0.2em 0.5em 0.2em 1em; transition: all .3s; -webkit-transition: all .3s;}
.popup-card .popup-card__body ul li > i{font-size: 20px; transition: all .3s; -webkit-transition: all .3s; color: #9e9e9e;}
.popup-card .popup-card__body > ul li > span{font-size: 0.8rem; font-weight: 700; color: #9e9e9e; transition: all .3s; -webkit-transition: all .3s;}
.popup-card .popup-card__body > ul li:hover{background: var(--gray-light-hover);}
.popup-card .popup-card__body > ul li:hover > i{color: rgb(var(--primary-color));}
.popup-card .popup-card__body > ul li:hover > span{color: rgb(var(--primary-color));}
.popup-card .popup-card__footer{width: 100%; height: fit-content; padding: 0.7em 1em 0.7em 1em; display: flex; justify-content: space-around; border-top:1.5px solid var(--primary-color-light);}
.popup-card .popup-card__footer > a{margin: 0 0 0 1em;}

main{width: 100%; min-height: 300px; padding: 80px 10px 0 90px; overflow-x: hidden; overflow-y: auto;}

.break {flex-basis: 100%; height: 0;}

/* Page */
  /* Header */
  main .page{width: 100%; height: fit-content; display: flex; flex-direction: column;}
  main .page .header{width: 100%; min-height: 50px; height: fit-content; display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; margin: 0 0 0 0; padding: 0.5em; overflow: hidden;}
  main .page .header .header__title{width: fit-content; max-width: 100%; height: fit-content; justify-content: center; display: flex; flex-direction: column;
  flex-grow: 1; justify-items: center; margin: 0; overflow: hidden;}
  main .page .header .header__title > .title{width:100%; height: fit-content; align-items: center; display: flex;}
  main .page .header .header__title > .title > span{font-weight: 700;}
  main .page .header .header__title > .title .back_history{width: 32px; height: 32px; margin:0 0.5em 0 0; display: flex; align-items: center; justify-content: center; transition: ease .3s; cursor: pointer; -webkit-transition: ease .3s; display: flex;}
  main .page .header .header__title > .title .back_history > i{margin: 0;transition: ease .3s; -webkit-transition: ease .3s; color: white;}
  main .page .header .header__title > .title .back_history:hover{background: rgba(var(--accent-color), 0.3);}
  main .page .header .header__title > .title .back_history:hover > i{color: white;}
  main .page .header .header__title .breadcrumbs{width:fit-content; height:fit-content; padding: 0 0 0 1em; display: flex; align-items: center;  color: var(--gray-blue);}
  main .page .header .header__title .breadcrumbs a{padding: 0 0.35rem 0 0; cursor: pointer; font-size: 0.8rem; font-weight: 900;
  color: #959cb6; -webkit-transition: ease 0.3s; transition: ease 0.3s;}
  main .page .header .header__title .breadcrumbs a:hover{color: #5d78ff;}
  main .page .header .header__title .breadcrumbs-separator{display: flex; align-items: center; padding: 0 0.45em 0 0; -webkit-box-align: center;}
  main .page .header .header__title .breadcrumbs-separator::after{display: block;width: 4px; height: 4px; border-radius: 50%;content: " ";background: rgba(149, 156, 182, 0.5);}

  main .page .header .header__toolbar{width:fit-content; height: 50px; max-height: 50px; display: flex; align-items: center; padding:0.5em;}
  main .page .header .header__toolbar .header__btn{width: fit-content; height: 35px; display: flex; align-items: center; justify-content: center;
  background: rgba(var(--primary-color), 0.3); cursor: pointer; -webkit-transition: ease 0.3s; transition: ease 0.3s; padding: 0.5em; margin: 0 0 0 0.5em;}
  main .page .header .header__toolbar .header__btn span{font-weight: 700; font-size: 0.8rem; color: #4a148c; padding: 0 0.25em 0 0.25em;}
  main .page .header .header__toolbar .header__btn:first-of-type{margin: 0 0 0 0;}
  main .page .header .header__toolbar .header__btn:hover{background-color: rgb(var(--primary-color));}
  main .page .header .header__toolbar .header__btn:hover > i {color: white;}
  main .page .header .header__toolbar .header__btn:hover > span{color: white;}
  main .page .header .header__toolbar .header__btn > i{font-size: 15px; color: #4a148c; margin:0; padding: 0;}

  /* Content */
  section.page__content{width: 100%; padding: 1em; overflow-x: hidden; overflow-y: auto;}

/* Login */
section#login{width: 100%; height: 100vh; overflow: hidden; display: flex; justify-content: center; background: rgb(var(--dark));}
section#login .login_wrapper{width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; display: flex; padding: 1em; align-items: center; justify-content: space-between; flex-direction: column;}
section#login .login_wrapper > .logo-app{ width: 150px; height: 150px; margin: 0 0 0 0; flex: 0 0 auto; margin: 0 0 0 0;}
section#login .login_wrapper > .menu-separetor{width:fit-content; height: 4px; display: flex; margin: 0.5em 0 0.5em 0; flex-direction: row; align-items: center; justify-content: center;}
section#login .login_wrapper > .menu-separetor .separetor{ margin: 0 0.1em 0 0; }
section#login .login_wrapper > .menu-separetor .separetor::before{width: 4px; height: 4px; display: flex; border-radius: 50%;content: " ";background: #606a8c;}
section#login .login_wrapper > .login-area{width: 50%; height: 100%; display: flex; padding: 1em; flex-direction: column; justify-content: space-around;}
section#login .login_wrapper > .login-area > h1{color: rgb(var(--accent-color-2));}
section#login .login_wrapper > .login-area p{width: 100%; height: fit-content; padding: 0 0 0 0.5em; margin: 0 0 0.5em 0; color: white; font-size: 0.9rem;}
section#login .login_wrapper > .login-area > form{width: 100%; height: fit-content; margin: 0;}
section#login .login_wrapper > .login-area form > a{width:100%; font-size: 0.8rem; padding: 0 0 0 0.5em; justify-self: flex-start; transition: ease .3s; -webkit-transition: ease .3s;}
section#login .login_wrapper > .login-area form > a:hover{color: rgb(var(--accent-color));}
section#login .login_wrapper > .login-area > .login-options{width: 100%; height: fit-content; padding: 0.5em; display: flex;}
section#login .login_wrapper > .login-area > .login-options > a[data-action=login]{ flex: 1 1 60%;}
section#login .login_wrapper > .login-area > .login-options > a:first-of-type{margin: 0 2em 0 0;}

/* Cadastro */
section#cadastro{width: 100%; height: 100vh; overflow: hidden; display: flex; justify-content: center; background: rgb(var(--dark));}
section#cadastro .wrapper{width:100%; height: 100%; overflow-x: hidden; overflow-y: auto; display: flex; padding: 1em; align-items: center; justify-content: space-between; flex-direction: column;}
section#cadastro .wrapper .logo-app{width: 150px; height: 150px;}
section#cadastro .wrapper .menu-separetor{width:fit-content; height: 4px; display: flex; margin: 0.5em 0 0.5em 0; flex-direction: row; align-items: center; justify-content: center;}
section#cadastro .wrapper .menu-separetor .separetor{ margin: 0 0.1em 0 0; }
section#cadastro .wrapper .menu-separetor .separetor::before{width: 4px; height: 4px; display: flex; border-radius: 50%;content: " ";background: #606a8c;}
section#cadastro .wrapper .cadastro-body{width: 60%; height: fit-content; display: flex; flex-direction: column; justify-content: space-around; padding: 1em;}
section#cadastro .wrapper .cadastro-body p{width: 100%; height: fit-content; line-height: 1.4; padding: 0 0 0 0.5em; text-align: justify; margin: 0 0 0.75em 0; color: white; font-size: 0.9rem;}
section#cadastro .wrapper .cadastro-body p > a{color: rgb(var(--accent-color-2)); font-weight: 600; transition: ease .3s; -webkit-transition: ease .3s;}
section#cadastro .wrapper .cadastro-body p > a:hover{color: rgb(var(--accent-color));}
section#cadastro .wrapper .cadastro-body h1{color: rgb(var(--accent-color-2));}
section#cadastro .wrapper .cadastro-body .two-column{width: 100%; height: fit-content; display: flex;}
section#cadastro .wrapper .cadastro-body .two-column > .input-form:first-of-type{margin: 0 1em 0 0;}
section#cadastro .wrapper .cadastro-body .two-column > .input-form{flex: 1 1 50%;}

/* Selector */
section#selector{width: 100%; height: 100vh; background: rgb(var(--dark)); display: flex; flex-direction: column;}
section#selector h1{color:rgb(var(--accent-color));}
section#selector header div.active{background: rgba(var(--primary-color), 0.3); color: white;}
section#selector header{width: 100%; height: 70px; display: flex; left: 0; position: relative !important; background: transparent;}
section#selector .floating-logo{width: 150px; height: 150px; opacity: 0; position: absolute; z-index: 100; top: 70px; left:calc(50% - 75px);}
section#selector .floating-logo .logo-app{width: 100%; height: 100%; margin: 0;}
section#selector .floating-logo .logo-app img{height: 100%; width: auto; transition: ease .3s; -webkit-transition: ease .3s;}
section#selector .floating-logo .logo-app:hover > img{transform: scale(1.2); -webkit-transform: scale(1.2);}
section#selector .floating-text{width: 100%; height: calc(100vh - 150px - 70px); display: flex; opacity: 0;flex-direction: column; padding: 0 0 1em 0; align-items: center; justify-content: space-around; z-index:100; position: absolute; bottom: 0;}
section#selector .floating-text a.button.insideout{flex: none;}
section#selector .floating-text p{text-align: center; color: white; font-weight: 700;}
section#selector header .left{padding: 0;}
section#selector header .left .logo-app{width: 70px; height: 70px; margin: 0; display: none;}
section#selector header .left .logo-app img{width:100%;}
section#selector header .right .logged-user{width: fit-content; padding: 0.1em 0.5em 0.1em 0.5em; height: 100%; color: white; display: flex; align-items: center; transition: ease .3s; -webkit-transition: ease .3s; border-radius: 9999em;}
section#selector header .right .logged-user:hover{background: rgb(var(--primary-color), 0.3); color: white;}
section#selector header .right .logged-user .user{width: fit-content; height: fit-content; display: flex; margin: 0 0.25em 0 0;}
section#selector header .right .logged-user .user > span{font-size: 0.75rem; font-weight: 700;}
section#selector header .right .logged-user .profile-pic{ width: fit-content; height: 100%; padding: 0.2em;}
section#selector header .right .logged-user .profile-pic > img{ width: auto; height: 100%;}
section#selector .selector__body{width: 100%; height: calc(100vh - 70px); opacity: 0; display: flex; flex-wrap: wrap; justify-content: center;
align-items: center; transition: ease .3s; -webkit-transition: ease .3s; padding: 0.5em;}
section#selector .selector__body .selector_options_wrapper{width: fit-content; max-width: 100%; margin: auto;height: fit-content; max-height: calc(100vh - 70px); display: flex; flex-wrap: wrap;
justify-content: center; align-items: center; overflow-y: auto; overflow-x: hidden; transition: ease .3s; -webkit-transition: ease .3s; padding: 1em;}
section#selector .selector__body .selector_options_wrapper .option{width:300px; height: 300px; padding:1em; display: flex; align-items: center; justify-content: center; background: rgb(var(--dark-accent));
cursor: pointer; transition: ease .3s; -webkit-transition: ease .3s; margin: 0 1.5em 1em 1.5em; flex-direction: column; position: relative;}
section#selector .selector__body .selector_options_wrapper .option > i{height: 95px; padding-top: 33px; font-size: 90px; color:rgb(var(--accent-color)); margin:0; transition: ease .3s; -webkit-transition: ease .3s;}
section#selector .selector__body .selector_options_wrapper .option:hover{background: rgb(var(--primary-color));}
section#selector .selector__body .selector_options_wrapper .option:hover > i{color: white; transform: scale(1.1); -webkit-transform: scale(1.1);}
section#selector .selector__body .selector_options_wrapper .option:hover > span{color: white;}
section#selector .selector__body .selector_options_wrapper .option.noHover:hover{background: rgb(var(--dark-accent));}
section#selector .selector__body .selector_options_wrapper .option > span{color: rgb(var(--accent-color)); font-weight: 600; margin: 0.5em 0 0 0; transition: ease .3s; -webkit-transition: ease .3s;}

section#selector .selector__footer{width: 100%; height: 70px; position: relative; background: transparent;}


section#selector .selector__body .selector__add{width: 100%; max-width: 1300px; height: 100%; display: flex; margin: 0 auto 0 auto; overflow-x: hidden; overflow-y: auto; flex-direction: column; align-items: center;}
section#selector .selector__body .selector__add p{text-align: center; color: white; font-weight: 700;}
section#selector .selector__body .selector__add .logo-app{width: 150px; height: 150px; }
section#selector .selector__body .selector__add .logo-app img{height: 100%; width: auto; transition: ease .3s; -webkit-transition: ease .3s;}
section#selector .selector__body .selector__add .logo-app:hover > img{transform: scale(1.2); -webkit-transform: scale(1.2);}
section#selector .selector__body .selector__add .type_selector_wrapper{width: fit-content; height: fit-content; position: relative; display: flex; margin: 0 0 0.5em 0;}
section#selector .selector__body .selector__add .option{width:130px; height: 130px; display: flex; align-items: center; justify-content: center; background: rgb(var(--dark-accent)); cursor: pointer;
transition: ease .3s; -webkit-transition: ease .3s; margin: 0 1em 0 1em; flex-direction: column; position: relative;}
section#selector .selector__body .selector__add .option > i{height: fit-content; padding-top: 0; font-size: 35px; color:rgb(var(--accent-color)); margin:0; transition: ease .3s; -webkit-transition: ease .3s;}
section#selector .selector__body .selector__add .option:hover{background: rgb(var(--primary-color));}
section#selector .selector__body .selector__add .option:hover > i{color: white; transform: scale(1.1); -webkit-transform: scale(1.1);}
section#selector .selector__body .selector__add .option:hover > span{color: white;}
section#selector .selector__body .selector__add .option.noHover:hover{background: rgb(var(--dark-accent));}
section#selector .selector__body .selector__add .option > span{color: rgb(var(--accent-color)); font-weight: 600; margin: 0.5em 0 0 0; transition: ease .3s; -webkit-transition: ease .3s;}
section#selector .selector__body .selector__add .option.active{background: rgb(var(--primary-color));}
section#selector .selector__body .selector__add .option.active > i{color: white;}
section#selector .selector__body .selector__add .option.active > span{color: white;}

section#selector .selector__body .selector__add .hidden_inputs{width: 100%; height: fit-content; padding: 1em;}


/* Form style */
.input-form{width: 100%; height: fit-content; display: flex; padding: 0.25em 0 0.25em 0; margin: 0 0 1.25em 0; background: #fafafa; flex-direction: column-reverse;}
.input-form:last-of-type{margin: 0 0 0.5em 0;}
.input-form *:focus { box-shadow: none!important;}
.input-form > label{width:100%; height: fit-content; display: flex; font-size: 0.7rem; font-weight: 900; text-transform: uppercase; line-height: 1; transition: ease .3s;
-webkit-transition: ease .3s; align-items: center; flex: 1 0 auto; padding: 0.25em 0 0 1em; margin: 0; color: var(--label_color);}
.input-form > div{width: 100%; height: 40px; display: flex; flex-direction: row-reverse; align-items: center; }
.input-form > div .input-icon{width: fit-content; height: fit-content; display: flex; padding: 0 0.7em 0 0.7em; justify-content: center; align-items: center;}
.input-form > div .input-icon > i{margin: 0 !important; color: var(--primary-color-light); transition: ease .3s; -webkit-transition: ease .3s;}
.input-form > div .input-flag{width: fit-content; height: fit-content; display: flex; padding: 0 0.7em 0 0.7em; justify-content: center; align-items: center;}
.input-form > div .input-flag > i{color: #f44336;}
.input-form > div > input{ flex: 1 1 100%; height: 35px !important; padding: 0.3em 0 0.3em 0 !important; margin: 0 auto 0 auto !important;
border-bottom: 1px solid transparent !important; font-weight: 600; transition: ease .3s; -webkit-transition: ease .3s; font-size: 0.8rem;}
.input-form > div > input.error{border-bottom: 1px solid #f44336 !important;}
.input-form > div > input:hover{border-bottom: 1px solid rgb(var(--accent-color)) !important;}
.input-form > div > input:focus + .input-icon > i{color: rgb(var(--primary-color)) !important;}
.input-form > div > input:focus{border-bottom: 1px solid rgb(var(--accent-color)) !important;}


/* Offline page */
section#offline{width: 100%; height: 100vh; padding: 0; margin: 0; overflow-x: hidden; overflow-y: hidden; background: var(--dark) url("../../images/website/1.webp") center no-repeat; background-size: cover;}
section#offline .wrapper{width: 100%; height: 100%;display: flex; justify-content: center; align-items: center;}
section#offline .wrapper .body{width: 100%; min-height: fit-content; height: 100%; overflow-x: hidden; overflow-y: auto; display: flex; align-items: center; flex-direction: column;
background: rgba(36, 41, 57, 0.85); padding: 1em; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em;}
section#offline .wrapper .body > .logo-app{ width: 150px; height: 150px;}
section#offline .wrapper .body .offline-content{width:100%;flex: 1 1 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 2em 0 0 0; padding: 1em;}
section#offline .wrapper .body .offline-content > i{color: rgb(var(--accent-color-2)); font-size: 60px; margin: 0 0 1em 0;}
section#offline .wrapper .body .offline-content p{ color: white; font-weight: 700; font-size: 1.5rem; text-align: center; line-height: 1.25;}

/* Button */
a.button{min-width: fit-content; height: 50px; display: flex; justify-content: center; align-items: center; font-size: 0.8rem; padding: 1em; color: white;
text-transform: uppercase; font-weight: 900; letter-spacing: 1px; cursor: pointer; transition: ease .3s; -webkit-transition: ease .3s; background: rgb(var(--primary-color));}

a.button.insideout{flex: 1 1 auto; border: 2px solid rgb(var(--accent-color-2)); background: transparent; color: rgb(var(--accent-color-2));}
a.button.insideout:hover{background: rgb(var(--accent-color-2)); border: 2px solid transparent;  color: white;}
a.button.insideout.simulateHover{background: rgb(var(--accent-color-2)); border: 2px solid transparent;  color: white;}
a.button.insideout.noHover:hover{border: 2px solid rgb(var(--accent-color-2)); background: transparent; color: rgb(var(--accent-color-2));}


#offline a.button{width: fit-content; height: fit-content; display: flex; justify-content: center; align-items: center; text-decoration: none;
padding: 0.5em 1em 0.5em 1em; cursor: pointer; background: rgb(var(--primary-color)); color: white;  font-weight: 700; transition: ease .3s; -webkit-transition: ease .3s; border: 2px solid transparent;}
#offline a.button > i {margin: 0 1em 0 0; color: white; transition: ease 1.3s; -webkit-transition: ease 1.3s;}
#offline a.button:hover{transform: scale(1.2); -webkit-transform: scale(1.2);}
#offline a.button:hover > i {transform: rotate(360deg);}


/* scrollbar */
::-webkit-scrollbar { width: 14px; height: 18px;}
::-webkit-scrollbar-thumb {height: 6px;border: 4px solid rgba(0, 0, 0, 0);background-clip: padding-box;-webkit-border-radius: 7px;
background-color: rgba(0, 0, 0, 0.15); -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);}
::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent;}

/* Icones */

.icon {text-decoration: none; border-bottom: none; position: relative;}
.icon:before {-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal;
font-weight: normal; text-transform: none !important;}
.icon:active, .icon:hover { text-decoration: none; }
.icon > .label { display: none; }

.countdown { position: relative; margin: auto; height: 20px; width: 20px;text-align: center; }
.countdown .countdown-number { color: white; display: inline-block; line-height: 20px; }
.countdown svg { position: absolute; top: 0; right: 0; width: 20px; height: 20px;transform: rotateY(-180deg) rotateZ(-90deg); }
.countdown svg circle { stroke-dasharray: 50px; stroke-dashoffset: 0px; stroke-linecap: round; stroke-width: 2px; stroke: white; fill: none; animation: countdown 5s linear infinite forwards;}
@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 50px;
  }
}

/* error handling */

.error_message{width: 100%; min-height: 70px; height: fit-content; padding: 0.5em 0 0.5em 0; position: absolute; top:0; left: 0; z-index: 101;
background: rgb(var(--primary-color)); display: flex; align-items: center;}
.error_message .body{width: 100%; height: fit-content; line-height: 1.5; padding: 0 20% 0 20%; display: flex; align-items: center; justify-content: space-between;}
.error_message > .body i.warning{font-size: 35px; color: white;}
.error_message > .body .message{width:100%; padding:0 0.5em 0 0.5em;font-weight: 600; color: white; font-size: 0.8rem; display: flex; align-items: center;}
.error_message > .body .message > i{font-size: 20px;}
.error_message > .body .timer{width: 20px; height: 20px;}

.error_handler{width: 100vw; height: 100vh; position: absolute; justify-content: center; align-items: center; z-index: 1000; padding: 2em; display: flex; top: 0; left: 0; background: #263238d9;}
.error_handler .wrapper{width: 80%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 1em;}
.error_handler .wrapper > i.icon{ height: fit-content; font-size: 60px; color: rgb(var(--accent-color-2)); margin: 0 0 0.5em 0;}
.error_handler .wrapper > p{font-size: 1.3rem; color: white; text-align: center; line-height: 1.5; font-weight: 700;}
.error_handler .wrapper > i.icon:last-of-type{ height: fit-content; font-size: 30px; color: rgb(var(--accent-color-2)); margin: 0 0 em 0; -webkit-animation: rotating 2s linear infinite;
-moz-animation: rotating 2s linear infinite; -ms-animation: rotating 2s linear infinite; -o-animation: rotating 2s linear infinite; animation: rotating 2s linear infinite;}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

/* Regular Behavior */
.blur{background: rgba(255, 255, 255, 0.2); -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px);}
.clickable{cursor: pointer !important;}
.rounded-sm{-webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em;}
.rounded-50{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.rounded{-webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em;}
.rounded-1{-webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em;}
.rounded-bottom{-webkit-border-bottom-right-radius: 0.5em; -webkit-border-bottom-left-radius: 0.5em; -moz-border-radius-bottomright: 0.5em; -moz-border-radius-bottomleft: 0.5em;
  border-bottom-right-radius: 0.5em; border-bottom-left-radius: 0.5em;}
.rounded-bottom-sm{-webkit-border-bottom-right-radius: 0.2em; -webkit-border-bottom-left-radius: 0.2em; -moz-border-radius-bottomright: 0.2em; -moz-border-radius-bottomleft: 0.2em;
border-bottom-right-radius: 0.2em; border-bottom-left-radius: 0.2em;}
.rounded-top-sm{-webkit-border-top-left-radius: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  -moz-border-radius-topleft: 0.2em;
  -moz-border-radius-topright: 0.2em;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;}
.rounded-top{-webkit-border-top-left-radius: 0.5em;
-webkit-border-top-right-radius: 0.5em;
-moz-border-radius-topleft: 0.5em;
-moz-border-radius-topright: 0.5em;
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;}
.noselect {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently  supported by Chrome, Edge, Opera and Firefox */
}
@media (hover: none) {
  
}

/* Loading */
.loading{width: 100%; height: fit-content; padding: 2em; display: flex; align-items: center; justify-content: center;}
.error{width: 100%; height: fit-content; padding: 1em 0.5em 1em 0.5em; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.error i{font-size: 30px; color: red; margin: 0 0 0.2em 0;}
.error span{font-size: 0.8em; font-weight: 400; padding: 0 0.5em 0 0.5em; line-height: 1.3; text-align: center;}


i.loading{width: 100%; height: 100%; display: flex;  align-items: center; justify-content: center; padding:0;}
i.loading .lds-dual-ring{width: 24px; height: 24px;}
i.loading .lds-dual-ring:after{width: 24px; height: 24px;}
a:hover > i.loading .lds-dual-ring:after{border: 6px solid white;border-color: white transparent white transparent;}
a.simulateHover > i.loading .lds-dual-ring:after{border: 6px solid white;border-color: white transparent white transparent;}

i.icon-loading{ height: 100%; display: flex;  align-items: center; justify-content: center; margin: 0 0.5em 0 0; padding:0;}
i.icon-loading > .lds-dual-ring{width: 16px; height: 16px;}
i.icon-loading > .lds-dual-ring:after{width: 16px; height: 16px; border: 3px solid white;border-color: white transparent white transparent;}


.lds-dual-ring {
display: inline-block;
width: 32px;
height: 32px;
}
.lds-dual-ring:after {
content: " ";
display: block;
width: 32px;
height: 32px;
border-radius: 50%;
border: 6px solid rgb(var(--primary-color));
border-color: rgb(var(--primary-color)) transparent rgb(var(--primary-color)) transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
      

/* Overrides  */
.material-tooltip {
background: white !important; color: #424242;font-size: 0.8rem;font-weight: 700; -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; border-radius: 0.2em;}
a.btn-small{font-weight: 700; display: flex; background: var(--primary-color-light); color: rgb(var(--primary-color)); transition: all .2s; -webkit-transition: all .2s;}
a.btn-small:hover{color:white; background: rgb(var(--primary-color));}
a.btn-small > i{margin: 0 0.5em 0 0; font-size: 18px;}

a.btn-large{font-weight: 700; background: var(--primary-color-light); color: rgb(var(--primary-color)); transition: all .2s; -webkit-transition: all .2s;}
a.btn-large:hover{color:white; background: rgb(var(--primary-color));}


@media screen and (min-height: 1080px){
    section#login .login_wrapper{ align-items: center; padding: 1em;}
    section#login .login_wrapper .right{ padding: 5em 2em 5em 2em;}
}

@media screen and (min-width : 1400px) {

}

@media screen and (max-width : 992px) {
    h1{font-size: 1.5rem;}
    ::-webkit-scrollbar {width: 0px;background: transparent;}
    header{width: 100%; left: 0;}
    main{padding: 70px 0 0 0; overflow-y: hidden;}
    nav#desktop{display: none;}
    header .header__wrapper .left .menu-collapse{ display: flex; }
    nav#mobile{width: 250px; height: 100vh; position: absolute; left: 0; background: rgb(var(--dark)); flex-direction: column; display: flex; align-items: center; padding: 1em 0 0 0;
    z-index: 100; overflow-x: hidden; overflow-y: auto;}
    nav#mobile ul.collapisible-menu{display: flex !important; flex-direction: column;}
    nav#mobile ul.collapisible-menu li > div.menu-op > div {display: flex;}
    nav ul.collapisible-menu li div > div{display: flex; align-items: center; flex: 1 1 0; font-weight: 700;}
    nav#mobile ul.collapisible-menu li > div.menu-op .arrow{ width: 2px; height: 2px; border: solid rgb(var(--accent-color-2)); border-width: 0 1px 1px 0; padding: 2px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
    nav#mobile ul.nav__groups{display: none;}

    /* Header */
    header{background: rgb(var(--dark));}
    header .header__wrapper .left .menu-collapse > i{color: white;}
    header .header__wrapper .left .menu-collapse:hover > i {color: rgb(var(--accent-color));}
    header .header__wrapper .right .header__badges .badge-item > i{color: white;}
    header .header__wrapper .right .header__badges .badge-item:hover > i{color: rgb(var(--accent-color));}
    header .header__wrapper .right .logged-user .user > span{color:white;}
    /* Page */
      /* Header */
      main .page .header{padding: 0; margin: 0;  justify-content: center;}
      main .page .header .header__title{flex: 1 1 100%; margin: 0 0 0.25em 0;}
      main .page .header .header__toolbar{ padding:0.25em ; margin: 0 0.5em 0.25em 0.5em; flex-direction: row; overflow-y: hidden; overflow-x: auto;}
      main .page .header .header__toolbar::-webkit-scrollbar { display: none; }
      main .page .header .header__toolbar .header__btn{ white-space: nowrap; position: relative;}
      main .page .header .header__title > .title {padding: 0 0.2em 0 0.2em; height: 60px; background: rgb(var(--dark)); color: white;}
      /* Content */
      section.page__content{ padding: 0 0.7em 0 0.7em;}


    /* Login fixes */
    section#login .login_wrapper{align-items: center; padding: 0.5em 0.5em 1em 0.5em;}
    section#login .login_wrapper > .logo-app{ width: 130px; height: 130px;}
    section#login .login_wrapper > .login-area{width:100%; padding: 0;}
    section#login .login_wrapper > .login-area > p{padding: 0 0 0 0.5em; margin: 0 0 0.5em 0; line-height: 1.4; color: white; font-size: 0.9rem;}
    section#login .login_wrapper > .login-area > .login-options > a:first-of-type{margin: 0 1em 0 0;}

    /* Cadastro fixed */
    section#cadastro .wrapper .logo-app{margin: 0; width: 130px; height: 130px;}
    section#cadastro .wrapper{padding: 0.5em 0.5em 1em 0.5em;}
    section#cadastro .wrapper .cadastro-body{width: 100%; padding: 0.5em;}
    section#cadastro .wrapper .cadastro-body .two-column > .input-form:first-of-type{margin: 0 0.5em 0 0;}

    /* Interface */
      /* popup-card */
      .popup-card{width: 100%; max-width: 100%; max-height: calc(100% - 70px); height: 100%; position: absolute;
        display: flex; justify-content: space-between; background: #fafafa; overflow: hidden; flex-direction: column;}
      .popup-card__body{flex: 1 1 100%;-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
    /* offline page */

    section#offline .wrapper .body{flex: 0 1 100%; }
    section#offline .wrapper{padding: 0;}

    .error_handler .wrapper{width: 100%; padding: 0.5em;}

    .error_message .body{padding: 0 0.5em 0 0.5em;}

    /* Selector */

    section#selector .selector__body{width: 100%; padding: 0.1em;}
    section#selector .selector__body .selector_options_wrapper{padding: 0;}
    section#selector .selector__body .selector_options_wrapper .option{margin: 1em;}
    section#selector .selector__body .selector_options_wrapper .option > i{font-size: 80px;}

    section#selector .selector__body .selector__add{width: 100%; padding: 0.1em;}
    section#selector .selector__body .selector__add .hidden_inputs{padding: 0;}

}

@media screen and (max-width : 768px) {
  main{padding: 70px 0 0 0; overflow-y: hidden;}

  section#login .login_wrapper > .right {height: 100%;padding: 0.5em;}
  section#login .login_wrapper .right > .login-area{ padding: 0 0.5em 0 0.5em; flex-wrap: wrap; justify-content: center;}

  section#login .login_wrapper .right > .login-area > h1{color: #f5f5f5; }

  /* Input fixes */
  .input-form{margin: 0 0 1em 0;}

}

@media screen and (max-width : 600px) {
  main{padding: 70px 0 0 0; overflow-y: hidden;}

  section#selector .selector__body .selector_options_wrapper .option{width:250px; height:250px; margin: 1em;}

}


/* Fix Ipad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}